.contentNews{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.contentNews_left{
    width: 70%;
    padding: 0 10px;
    height: auto;
}

.contentNews_right h3,
.contentNews_left h3{
    height: 50px;
    line-height: 50px;
    border: 1px solid #e6e6e6;
    font-size: 18px;
    font-weight: 500;
    border-left: 5px solid #333333;
    padding-left: 15px;
}

.contentNews_title{
    width: 97%;
}

.contentNews_body{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    padding-top: 35px;
}

.contentNews_body-box{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    padding-bottom: 50px;
    width: 50%;
}

.contentNews_body-box1 {
    display: flex;
    flex-direction: column;
}

.contentNews_body-box1 img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.contentNews_body-box2 {
    padding-top: 15px;
}

.contentNews_body-box2 a:first-child{
    font-size: 16px;
     color: #222222;
    font-weight: 400;
}
.contentNews_body-box2 span,
.contentNews_body-box2 a:nth-child(2){
    font-size: 12px;
    color: #888888;
}

.contentNews_body-box2 a:first-child:hover,
.contentNews_body-box2 a:nth-child(2):hover{
    color: #17b978;
    transition: .3s;
}

.contentNews_right {
    width: 30%;
    padding: 0 10px;
}

.contentNews_right-box2,
.contentNews_right-box1{
    width: 100%;
    height: 180px;
    border: 1px solid #ccc;
    margin-top: 35px;
}

.contentNews_right-box2{
    height: auto;
    padding: 40px;
    background-color: #17b978;
    display: flex;
    flex-direction: column;
    position: relative;
}

.contentNews_right-box2 span,
.contentNews_right-box2 h1{
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.contentNews_right-box2 span{
    font-size: 14px;
}

.contentNews_right-box2 input{
    padding: 10px;
    position: relative;
    border: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: white;
}

.contentNews_right-icon{
    position: absolute;
    right: 48px;
    font-size: 22px;
    top: 65%;
}

.contentNews_right-icon:hover{
    color: #17b978;
    cursor: pointer;
}

.contentNews_right-box3{
    margin-top: 35px;
}

.contentNews_right-tag{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    
}

.contentNews_right-tag a{
    padding: 15px;
    border: 1px solid #888888;
    margin: 10px;
    border-radius: 27px;
    color: #888888;
    font-size: 12px;
}

.contentNews_right-tag a:hover{
    background-color: #17b978;
    color: white;
    transition: .3s;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .contentNews{
        width: 95%;
        flex-direction: column;
    }
    
    .contentNews_left{
        width: 100%;
    }
    
    .contentNews_right{
        width: 100%;
        padding: 0;
    }

    .contentNews_title {
        width: 100%;
    }

    .contentNews_body-box{
        padding-bottom: 20px;
    }

    .contentNews_right-box2 {
        margin: 50px auto;
        width: 60%;
        border-radius: 3px;
    }

    .contentNews_right-icon{
        top: 65%;
    }
}

/* Mobile */

@media (max-width: 739px) {

    .contentNews {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .contentNews_left {
        width: 100%;
        padding: 0;
        height: auto;
    }

    .contentNews_body{
        flex-direction: column;
    }

    .contentNews_body-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .contentNews_body-box2{
        padding-top: 5px;
    }
    .contentNews_right-box2{
        width: 95%;
    }

    .contentNews_right {
        width: 100%;
        padding: 0;
    }
}